%footer#footer
  .container
    .row
      .grid_12
        %a.logo1{:href => "home.html"}
          %img{:alt => "", :src => "images/logo1.png"}/
        .copy
          %span ʩ
          %span#copyright-year
          %span |
          %span
            %a{:href => "home-5.html"} Privacy Policy
          / {%FOOTER_LINK}
