%header#header.header
  .banner
    #stuck_container
      %nav
        .container
          .row
            .grid_12
              %ul.sf-menu
                %li.current
                  %a{:href => "/"} Home
                %li
                  %a{:href => "/about"} About
                %li
                  %a{:href => "/game"} Games
                %li
                  %a{:href => "/ranking"} Ranking
                %li
                  %a{:href => "/testimonials"} Testimonials
    .container
      .row
        .grid_12
          %h1
            %a{:href => "home.html"}
              %img.muygrande{:alt => "", :src => "images/Recurso2.svg"}/
          .slogan
            Don't waste your time!
            = succeed "Win" do
              %br/
          %a.col1.bigbutton{:href => "#"} REGISTER
          .unit
            .title1 Every week you could win
            .title2 $500 USD
            .title1 by just investing $10 USD
