%header#header.header
  .banner
    #stuck_container
      %nav
        .container
          .row
            .grid_12
              %ul.sf-menu
                %li.current
                  %a{:href => "/"} Home
                %li
                  %a{:href => "/about"} About
                %li
                  %a{:href => "/game"} Games
                %li
                  %a{:href => "/ranking"} Ranking
                %li
                  %a{:href => "/contact"} Contact
    .container
      .row
        .grid_12
          %h1
            %a{:href => "home.html"}
              %img{:alt => "", :src => "images/logo.png"}/
          .slogan
            Don't waste your time!
            = succeed "Win" do
              %br/
          .unit
            .title1 Saturday, May 31 Jackpot:
            .title2 173 million
            %p
              %time{:datetime => "2014-01-11"} wednesday, may 28
               | Winning Numbers:
            %ul.list
              %li 19
              %li 24
              %li 45
              %li 18
              %li 36
              %li 5
            .ticket
              %a{:href => "#"}
                see current winning
                = succeed "ticket" do
                  %br/
