#content
  .bg4.p50
    .container
      .row.plsgodown
        .grid_8
          %h2 who are we?
          .block1
            %p Bitlotto is a fresh, original and playful portal who gives the users/players the opportunity of winning the highest prize with a few pair of clicks and low investment.
            %br/
            %p Every week we create new chances in every game to increase your capital by your own effort and having fun. Just play, have fun and win :)
            %br/
        .right.plsgodown
          %img{:alt => "", :src => "images/page2_img2.jpg"}/
  .bg3.p50
    .container
      .row.textplscenter
        .grid_12
          %h2 why choose us
          %p 
      .row
        .grid_4.wrap
          .thumb1
            .circle 1
            %h5.getoutofhere
              %a We accept both Bitcoin and credit cards
            %p It's too easy to pay in those methods and your money will be displayed almost inmediately.
        .grid_4.wrap
          .thumb1
            .circle 2
            %h5.getoutofhere
              %a Because you'll win in cryptocurrencies
            %p The cryptocurrencies are the future of the economy so you'll be having the benefits of holding a virtual coin.
        .grid_4
          .thumb1
            .circle 3
            %h5.getoutofhere
              %a Because it's easy to win
            %p You can practice before you try the real one were you only will have three chances.