#content
  .bg4.p50
    .container
      .row
        .grid_12
          %h2 a few words about us
          .block1
            .left
              %img{:alt => "", :src => "images/page2_img1.jpg"}/
            %h5
              %a{:href => "#"} Lorem ipsum dolor sit amet consectetuer adipiscin
            %p Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac semduis ultricies pharetra magnaonec accumsan.
            %br/
            .right
              %img{:alt => "", :src => "images/page2_img2.jpg"}/
            %p Malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit mauris. Fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget elementum vel cursus eleifend elit.
            %br/
            %p Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Quisque nulla. Vestibulum libero nisl porta vel scelerisque eget malesua at, neque. Vivamus eget nibh.
            %br/
            %p Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac semduis ultricies pharetra magnaonec accumsan. Malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit mauris. Fermentum dictum magna. Sed laoreet aliquam leo.
            %br/
            %p Ut tellus dolor, dapibus eget elementum vel cursus eleifend elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.
  .bg3.p50
    .container
      .row
        .grid_12
          %h2 why choose us
          %p Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac semduis ultricies pharetra magnaonec accumsan.
      .row
        .grid_4.wrap
          .thumb1
            .circle 1
            %h5
              %a{:href => "#"} We accept both Bitcoin and credit cards
            %p Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc.
        .grid_4.wrap
          .thumb1
            .circle 2
            %h5
              %a{:href => "#"} Sed ut perspiciatis unde omnis iste natus error sit
            %p Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc.
        .grid_4
          .thumb1
            .circle 3
            %h5
              %a{:href => "#"} Ut enim ad minima veniam quis nostrum exercitationem
            %p Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc.