#content
  .bg4.p8
    .container
      .row
        .grid_12
          %h2 our games
        .grid_4.wrap1
          .thumbs
            %img{:alt => "", :src => "images/page3_img1.jpg"}/
            .capture
              %h5
                %a{:href => "#"} Lorem ipsum dolor sit amet consectetuer adipiscin
              %p Praesent vestibulum molestie lacuenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et.
              %a.link{:href => "#"} read more
        .grid_4.wrap1
          .thumbs
            %img{:alt => "", :src => "images/page3_img2.jpg"}/
            .capture
              %h5
                %a{:href => "#"} Praesent vestibulum molestie lacus Aenean nonummy
              %p Praesent vestibulum molestie lacuenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et.
              %a.link{:href => "#"} read more
        .grid_4.wrap1
          .thumbs
            %img{:alt => "", :src => "images/page3_img3.jpg"}/
            .capture
              %h5
                %a{:href => "#"} Quisque nulla Vestibulum liber nisl porta vel
              %p Praesent vestibulum molestie lacuenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et.
              %a.link{:href => "#"} read more
      .row
        .grid_4.wrap1
          .thumbs
            %img{:alt => "", :src => "images/page3_img4.jpg"}/
            .capture
              %h5
                %a{:href => "#"} Vestibulum iaculis lacinia est Proin dictum elementum
              %p Praesent vestibulum molestie lacuenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et.
              %a.link{:href => "#"} read more
        .grid_4.wrap1
          .thumbs
            %img{:alt => "", :src => "images/page3_img5.jpg"}/
            .capture
              %h5
                %a{:href => "#"} Sed ut perspiciatis unde omnis iste natus error sit
              %p Praesent vestibulum molestie lacuenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et.
              %a.link{:href => "#"} read more
        .grid_4
          .thumbs
            %img{:alt => "", :src => "images/page3_img6.jpg"}/
            .capture
              %h5
                %a{:href => "#"} Ut enim ad minima veniam quis nostrum exercitationem
              %p Praesent vestibulum molestie lacuenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et.
              %a.link{:href => "#"} read more
