#content
  .bg4.p8
    .container
      .row.textplscenter
        .grid_12
          %h2 our games
        .grid_2
        .grid_4.wrap1
          .thumbs
            %img{:alt => "", :src => "images/page3_img2.jpg"}/
            .capture
              %h5
                %a{:href => "#"} BITCOIN BIRD
              %p A 'Flappy Bird' like game were you have to test yourself to see if you can win the highest prize.
              %a.link{:href => "#"} PLAY
        .grid_4.wrap1.turnoffpls
          .thumbs
            %img{:alt => "", :src => "images/page3_img5.jpg"}/
            .capture
              %h5
                %a{:href => "#"} LOTTERY
              %p A common lottery game were you have to be lucky to win a prize.
              %a.link{:href => "#", :style => "cursor: default"} COMING SOON