#content
  .bg4.p8
    .container
      .row
        .grid_12
          %h2 our games
        .grid_4.wrap1
          .thumbs
            %img{:alt => "", :src => "images/page3_img2.jpg"}/
            .capture
              %h5
                %a{:href => "#"} BITCOIN BIRD
              %p Praesent vestibulum molestie lacuenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et.
              %a.link{:href => "#"} PLAY
        .grid_4.wrap1
          .thumbs
            %img{:alt => "", :src => "images/page3_img5.jpg"}/
            .capture
              %h5
                %a{:href => "#"} LOTTERY
              %p Praesent vestibulum molestie lacuenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et.
              %a.link{:href => "#"} PLAY