#content
  .bg4.p8
    .container
      .row
        .grid_12
          %h2 Check Last Week Records
          %p
            Here you can see the most skillful players
          %br/
          %p Find records or compare the points, or .
        .grid_12
          %table.table
            %tr
              %th{:colspan => "2"} User
              %th Date
              %th Points
            %tr
              %td.c1 1
              %td.c2
                %a{:href => "#"} Lorem ipsum dolor sit
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
            %tr
              %td.c1 2
              %td.c2
                %a{:href => "#"} Dolor sed ut perspiciatis
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
                  %li.navy 36
                  %li.red 5
            %tr
              %td.c1 3
              %td.c2
                %a{:href => "#"} Unde omnis iste natu
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
                  %li.navy 45
                  %li.red 18
            %tr
              %td.c1 4
              %td.c2
                %a{:href => "#"} Error sit voluptatem
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
                  %li 36
            %tr
              %td.c1 5
              %td.c2
                %a{:href => "#"} Accusantium doloremque
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
                  %li.navy 24
                  %li.red 45
            %tr
              %td.c1 6
              %td.c2
                %a{:href => "#"} Laudantium totam rem
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
                  %li.navy 26
            %tr
              %td.c1 7
              %td.c2
                %a{:href => "#"} Aperiam eaque ipsa quae
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
                  %li.navy 11
            %tr
              %td.c1 8
              %td.c2
                %a{:href => "#"} Ut enim ad minima
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
            %tr
              %td.c1 9
              %td.c2
                %a{:href => "#"} Veniam quis nostrum
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
            %tr
              %td.c1 10
              %td.c2
                %a{:href => "#"} Exercitationem ullam
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
            %tr
              %td.c1 11
              %td.c2
                %a{:href => "#"} Corporis suscipit
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
            %tr
              %td.c1 12
              %td.c2
                %a{:href => "#"} Laboriosam nisi ut
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
            %tr
              %td.c1 13
              %td.c2
                %a{:href => "#"} Aliquid ex ea commod
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
            %tr
              %td.c1 14
              %td.c2
                %a{:href => "#"} Error sit voluptatem
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
            %tr
              %td.c1 15
              %td.c2
                %a{:href => "#"} Accusantium doloremque
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
            %tr
              %td.c1 16
              %td.c2
                %a{:href => "#"} Laudantium totam rem
              %td
                %time{:datetime => "2014-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2014
              %td
                %ul.list
                  %li 19
                  %li 24
                  %li 45
                  %li 18
                  %li 36
                  %li 5
