#content
  .bg4.p8
    .container
      .row
        .grid_12
          %h2 Check Last Week Records
          %p Find records or compare your points with the players who are the most skillful ones.
        .grid_12
          %table.table
            %tr
              %th{:colspan => "2"} User
              %th Date
              %th Points
            %tr
              %td.c1 1
              %td.c2
                %a カーロス
              %td
                %time{:datetime => "2017-12-07"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 57 pts
            %tr
              %td.c1 2
              %td.c2
                %a mark2871
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 56 pts
            %tr
              %td.c1 3
              %td.c2
                %a 菲德尔
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 54 pts
            %tr
              %td.c1 4
              %td.c2
                %a xXGamerXx
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 49 pts
            %tr
              %td.c1 5
              %td.c2
                %a bitcoingroup
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 47 pts
            %tr
              %td.c1 6
              %td.c2
                %a kratos14
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 47 pts
            %tr
              %td.c1 7
              %td.c2
                %a billionarybtc
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 46 pts
            %tr
              %td.c1 8
              %td.c2
                %a angelica1996
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 43 pts
            %tr
              %td.c1 9
              %td.c2
                %a martinez_juan
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 39 pts
            %tr
              %td.c1 10
              %td.c2
                %a 준우쵸마르티네즈
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 38 pts
            %tr
              %td.c1 11
              %td.c2
                %a Corporis suscipit
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 37 pts
            %tr
              %td.c1 12
              %td.c2
                %a Laboriosam nisi ut
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 37 pts
            %tr
              %td.c1 13
              %td.c2
                %a Aliquid ex ea commod
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 37 pts
            %tr
              %td.c1 14
              %td.c2
                %a Error sit voluptatem
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 36 pts
            %tr
              %td.c1 15
              %td.c2
                %a Accusantium doloremque
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 33 pts
            %tr
              %td.c1 16
              %td.c2
                %a Laudantium totam rem
              %td
                %time{:datetime => "2017-01-01"}
                  25/
                  %br>/
                  06/
                  %br>/
                  2017
              %td
                %p.bigletter 32 pts
