#content
  .bg2.p44
    .container
      .row
        .grid_12
          %h2.gray testimonials
        .grid_6.wrap
          .bq
            .grid_2.alpha
              .img
                %span
                  %i.fa.fa-quote-left
                %img{:alt => "", :src => "images/page2_img3.png"}/
            .grid_4.omega
              %p Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui...
              %a{:href => "#"} Olivia pool
              %b manager
        .grid_6
          .bq
            .grid_2.alpha
              .img
                %span
                  %i.fa.fa-quote-left
                %img{:alt => "", :src => "images/page2_img4.png"}/
            .grid_4.omega
              %p Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui...
              %a{:href => "#"} Mark Johnson
              %b manager